:root {
  --background-dark-blue: #303141;
  --text-white: #FFF; 
  --text-dark-blue: #37384b;
  --border-blue: #4c6085;
  --background-green: #39e29d;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}